@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --primary-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -999999;
}

.bg img {
    width: 100vw;
    height: 100vh;
}

.bg img:nth-child(2) {
    display: none;
}

nav {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5em 5em;
}

nav img {
    width: 15vw;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin: 2.1em auto 0;
    color: white;
}

header .img img {
    width: 95%;
}

header article {
    width: 88%;
    margin: 0 auto;
}

header article h1 {
    font-weight: 600;
    font-size: 2.7em;
    line-height: 1.3em;
}

header article p {
    font-weight: 400;
    opacity: .8;
    margin-top: -1em;
    font-size: 1.15em;
}

header article button {
    font-weight: 400;
    border: none;
    width: 35%;
    padding: 1em 0;
    border-radius: 25px;
    font-size: 1em;
    color: var(--primary-color);
    transition: 400ms;
}

header article button:hover {
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1em;
}

footer .center {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

footer .center i {
    font-weight: 400;
    font-size: 1.1em;
    color: white;
    border: 1px solid white;
    padding: .5em;
    border-radius: 50%;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

footer .center i:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .bg img:nth-child(1) {
        display: none;
    }

    .bg img:nth-child(2) {
        display: block;
    }

    .bg img {
        width: auto;
        height: auto;
    }

    nav {
        padding: 2em 2em 1em 2em;
    }

    nav img {
        width: 35vw;
    }

    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 80%;
    }

    header article {
        text-align: center;
        width: 95%;
        margin-top: 5vh;
    }

    header article h1 {
        font-size: 1.5em;
    }

    header article p {
        margin: 0;
        font-size: .9em;
    }

    header article button {
        width: 65%;
        padding: .5em 0;
        margin-top: 1em;
    }

    footer {
        margin-top: 2em;
        justify-content: center;
    }

    footer .center {
        width: 60%;
    }

    footer .center i {
        font-size: 1em;
    }
}